<p id="notice"><%= notice %></p>

<div class="site-wrapper inner">

  <h2 >Your HeartStrings</h1>

  <blockquote>
    <p>Every moment is made glorious by the light of Love.</p>
    <small>Rumi <cite title="Source Title">The Meaning of Love</cite></small>
  </blockquote>

  <h2 class="text-left">Sent</h1>

  <table class="table table-hover ">

    <thead>
      <tr text-left>
        <th>To:</th>
        <!-- <th>From:</th> -->
        <th>Subject:</th>
        <th>Message:</th>
        <th>Scheduled Date:</th>
        <th>Delivered:</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody class="text-left">
      <% @messages.each do |message| %>
        <% if current_user.id == message.sender_id %>
          <tr>
            <td><%= message.receiver.name%></td>
            <!-- <td><% if current_user.id == message.sender.id %>
              <%= "You" %>
              <% end %>
            </td> -->
            <td><%= message.subject %></td>
            <td><%= message.body %></td>
            <td><%= message.published_at.strftime("%m/%d/%Y %I:%M%p") %></td>
            <td><%= message.time_to_delivery %></td>
            <td><%= link_to 'Show', message %></td>
            <td><%= link_to 'Edit', edit_message_path(message) %></td>
            <td><%= link_to 'Delete', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <h2 class="text-left">Received</h1>

  <table class="table table-hover ">

    <thead>
      <tr text-left>
        <th>From:</th>
        <!-- <th>From:</th> -->
        <th>Subject:</th>
        <th>Message:</th>
        <th>Scheduled Date:</th>
        <th>Delivered:</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody class="text-left">
      <% @messages.each do |message| %>
        <% if current_user.id != message.sender_id %>
          <tr>
            <td><%= message.sender.name%></td>
            <!-- <td><% if current_user.id == message.sender.id %>
              <%= "You" %>
              <% end %>
            </td> -->
            <td><%= message.subject %></td>
            <td><%= message.body %></td>
            <td><%= message.published_at.strftime("%m/%d/%Y %I:%M%p") %></td>
            <td><%= message.time_to_delivery %></td>
            <td><%= link_to 'Show', message %></td>
            <td><%= link_to 'Edit', edit_message_path(message) %></td>
            <td><%= link_to 'Delete', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>


</div>
