<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>, you have a new HeartString!</h1> <br>
    <p><%= message.sender.name %> says:</p>
    <p>In brief: <%= message.subject %></p>
    <p>In detail: <%= message.body %></p><br>
    <p>
      Send a HeartString back here: <%= @url %>.
    </p>

  </body>
</html>
